<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.com.base.dao.TParentInfoMapper">
    <resultMap id="BaseResultMap" type="com.com.base.po.TParentInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_no" property="parentNo" jdbcType="VARCHAR"/>
        <result column="parent_name" property="parentName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="fee" property="fee" jdbcType="VARCHAR"/>
        <result column="enroll_flag" property="enrollFlag" jdbcType="VARCHAR"/>
        <result column="Referrer" property="referrer" jdbcType="VARCHAR"/>
        <result column="Referrer_phone" property="referrerPhone" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_no" property="createNo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_no" property="updateNo" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, parent_no, parent_name, phone, address, fee, enroll_flag, Referrer, Referrer_phone,
        remark, create_no, create_time, update_no, update_time
    </sql>

    <select id="selectOneParentInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from t_parent_info
        order by id desc
        limit 1
    </select>

    <select id="selectOneParentInfoTest" parameterType="com.com.base.po.TParentInfo" resultType="com.com.base.po.TParentInfo">
        select
        <include refid="Base_Column_List"></include>
        from t_parent_info
        order by id desc
        limit 1
    </select>

    <select id="selectParentCount" resultType="java.lang.Integer">
        select id
        from t_parent_info
        order by id desc
    </select>
</mapper>